body {
  font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
}



/* Custom styles for checkbox */
.custom-checkbox input[type="checkbox"] {
  accent-color: #008080; /* Teal color */
}

/* Default aspect ratio for mobile (16:9) */
.carousel-item img {
  aspect-ratio: 16/9;
}

/* Aspect ratio for desktop (9:4) */
@media (min-width: 1024px) {
  .carousel-item img {
    margin-top: 12px;
    aspect-ratio: 24/4;
  }
}

::selection {
  background: #00ACC1; /* Teal color */
  color: rgb(0, 0, 0);
}